<div class="modal fade" id="apiModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Dokumentasi REST API</h4>

        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <h5>Endpoint</h5>

        <pre>
            GET
            {{ request.scheme }}://{{ request.get_host }}{{ api_endpoint }}
        </pre>

        <hr />

        <h5>Response</h5>

        <pre>
            {
                "success": true,
                "status": 200,
                "dataset": "{{ api_dataset }}",
                "source": "Database Dashboard Statistik Tangsel",
                "timestamp": "...",
                "jumlah_data": ...,
                "data": [
                    ...
                ]
            }</pre
        >

        <hr />

        <h5>Python</h5>

        <pre>
            import requests

            url = "{{ request.scheme }}://{{ request.get_host }}{{ api_endpoint }}"

            response = requests.get(url)

            print(response.json())
        </pre>

        <hr />

        <h5>JavaScript</h5>

        <pre>
            fetch("{{ api_endpoint }}")
                .then(response => response.json())
                .then(data => console.log(data));
        </pre>

        <hr />

        <h5>cURL</h5>

        <pre>curl {{ request.scheme }}://{{ request.get_host }}{{ api_endpoint }}</pre>
      </div>
    </div>
  </div>
</div>
