{% extends 'base.html' %}

{% block content %}

<div class="page-header">

    <h3 class="fw-bold mb-3">
        Jumlah Kepemilikan Rumah Keluarga Menurut Status dan Kecamatan
    </h3>

    <ul class="breadcrumbs mb-3">

        <li class="nav-home">
            <a href="/">
                <i class="icon-home"></i>
            </a>
        </li>

        <li class="separator">
            <i class="icon-arrow-right"></i>
        </li>

         <li class="nav-item">
                <a href="#">Sosial</a>
            </li>

            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>

            <li class="nav-item">
                <a href="#">Dinas Sosial</a>
            </li>

            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>

        <li class="nav-item">
            <a href="#">Kepemilikan Rumah</a>
        </li>

    </ul>

</div>

<!-- CARD -->
 <div class="row">

    <div class="col-md-4">

        <div class="card card-stats card-primary">

            <div class="card-body">

                <div class="numbers">

                    <p class="card-category">
                        Jumlah Data
                    </p>

                    <h4 class="card-title">
                        {{ jumlah_rumah }}
                    </h4>

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card card-stats card-warning">

            <div class="card-body">

                <div class="numbers">

                    <p class="card-category">
                        Total Kecamatan
                    </p>

                    <h4 class="card-title">
                        {{ jumlah_kecamatan }}
                    </h4>

                </div>

            </div>

        </div>

    </div>

    <div class="col-md-4">

        <div class="card card-stats card-success">

            <div class="card-body">

                <div class="numbers">

                    <p class="card-category">
                        Tahun Data
                    </p>

                    <h4 class="card-title">
                        {{ tahun }}
                    </h4>

                </div>

            </div>

        </div>

    </div>

</div>

<!-- TABEL -->
 <div class="card">

    <div class="card-header">

        <div class="d-flex justify-content-between align-items-center">

            <h4 class="card-title">
                Tabel Kepemilikan Rumah
            </h4>

            <div>

                <a href="{% url 'download_rumah' %}" class="btn btn-success">

                    Download Excel

                </a>
                <a href="{% url 'download_csv' 'kepemilikanrumah' %}" class="btn btn-success"> 
                    Download CSV 
                </a>

                <button
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#apiModal">

                    REST API

                </button>

            </div>

        </div>

    </div>

    <div class="card-body">

        <div class="table-responsive">

            <table class="table table-bordered table-striped">

                <thead>

                    <tr>

                        <th>No</th>
                        <th>Kecamatan</th>
                        <th>Bebas Sewa</th>
                        <th>Dinas</th>
                        <th>Kontrak / Sewa</th>
                        <th>Lainnya</th>
                        <th>Milik Sendiri</th>
                        <th>Grand Total</th>

                    </tr>

                </thead>

                <tbody>

                    {% for row in data %}

                    <tr>

                        <td>{{ forloop.counter }}</td>
                        <td>{{ row.kecamatan }}</td>
                        <td>{{ row.bebas_sewa }}</td>
                        <td>{{ row.dinas }}</td>
                        <td>{{ row.kontrak }}</td>
                        <td>{{ row.lainnya }}</td>
                        <td>{{ row.milik_sendiri }}</td>
                        <td>{{ row.total }}</td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>

    </div>

</div>

<br>

<!-- GRAFIK -->
 <div class="row mt-4">

    <div class="col-md-6">

        <div class="card">

            <div class="card-header">

                <h4 class="card-title">
                    Jumlah Kepemilikan Rumah per Kecamatan
                </h4>

            </div>

            <div style="height:420px">

                <canvas id="totalChart"></canvas>

            </div>

        </div>

    </div>

    <div class="col-md-6">

        <div class="card">

            <div class="card-header">

                <h4 class="card-title">
                    Jenis Kepemilikan Rumah
                </h4>

            </div>

            <div style="height:420px">

                <canvas id="jenisChart"></canvas>

            </div>

        </div>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

document.addEventListener("DOMContentLoaded", function(){

    const labels = {{ labels|safe }};
    const total = {{ total|safe }};

    const milik_sendiri = {{ milik_sendiri|safe }};
    const kontrak = {{ kontrak|safe }};
    const bebas_sewa = {{ bebas_sewa|safe }};
    const dinas = {{ dinas|safe }};
    const lainnya = {{ lainnya|safe }};



    // ====================================
    // CHART 1
    // ====================================

    new Chart(document.getElementById("totalChart"),{

        type:"bar",

        data:{

            labels:labels,

            datasets:[{

                label:"Jumlah Kepemilikan Rumah",

                data:total,

                backgroundColor:"#1572E8"

            }]

        },

        options:{

            responsive:true,

            maintainAspectRatio:false,

            plugins:{

                legend:{
                    display:true
                }

            },

            scales:{

                x:{

                    ticks:{

                        autoSkip:false,

                        maxRotation:45,

                        minRotation:45

                    }

                },

                y:{

                    beginAtZero:true

                }

            }

        }

    });



    // ====================================
    // CHART 2
    // ====================================

    new Chart(document.getElementById("jenisChart"),{

        type:"bar",

        data:{

            labels:labels,

            datasets:[

                {

                    label:"Milik Sendiri",

                    data:milik_sendiri,

                    backgroundColor:"#1572E8"

                },

                {

                    label:"Kontrak/Sewa",

                    data:kontrak,

                    backgroundColor:"#31CE36"

                },

                {

                    label:"Bebas Sewa",

                    data:bebas_sewa,

                    backgroundColor:"#FFAD46"

                },

                {

                    label:"Dinas",

                    data:dinas,

                    backgroundColor:"#F25961"

                },

                {

                    label:"Lainnya",

                    data:lainnya,

                    backgroundColor:"#716aca"

                }

            ]

        },

        options:{

            responsive:true,

            maintainAspectRatio:false,

            plugins:{

                legend:{

                    position:"top"

                }

            },

            scales:{

                x:{

                    ticks:{

                        autoSkip:false,

                        maxRotation:45,

                        minRotation:45

                    }

                },

                y:{

                    beginAtZero:true

                }

            }

        }

    });

});

</script>

{% include "dashboard/components/api_modal.html" %}
{% endblock %}